<!-- <div>
  <strong>Templates:</strong>
  <h1>Hello, {{ title }}</h1>
  <p>Hello, {{name}} Welcome to Angular Programming.</p>
  <p>
    Templates: Templates in Angular define the component view using
    HTML + Angular directives and expressions.
  </p><br>
  <p>
    There are two types of tmelates:
    1. Inline template
    2. External template
  </p>
</div>
<hr>
<div>
  <strong>Components:</strong>
  <app-greetings></app-greetings>
</div>
<div>
  <h2>Pipes: </h2>
  <app-pipes></app-pipes>
</div>
<div>
  <app-demo-lifecycle></app-demo-lifecycle>
</div> -->
<!-- <div>
  <app-parent></app-parent>
</div> -->
<!-- <div>
  <app-parent2></app-parent2>
</div> -->
<!-- <div>
  <app-parent3></app-parent3>
</div> -->
<!-- <div>
  <app-parent4></app-parent4>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <ul class="navbar-nav me-auto">
    <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink="/demo-life" class="nav-link">Demo Lifecycle</a></li>
    <li class="nav-item"> <a routerLink="/greeting" class="nav-link">Greetings</a></li>
    <li class="nav-item"><a routerLink="/phone-list" class="nav-link">Phone List</a></li>
    <li class="nav-item"> <a routerLink="/counter" class="nav-link">Counter</a></li>
    <li class="nav-item"> <a routerLink="/user" class="nav-link">User</a></li>
    <li class="nav-item">  <a routerLink="/login" class="nav-link">Login</a></li>
  </ul>
</nav>
<router-outlet />